.btn-sizing {
    padding: 5px 70px;
}

.marg-left {
    margin-left: 5%;
    padding: 15px;
}

.results-push {
    margin: 5px;
    padding: 15px;
}

.title-left {
    margin-left: 1%;
    padding: 15px;
}